[submodule "emacs"]
	path = emacs
	url = git@github.com:aaronmiller/emacs.git
	branch = amiller/emacs-29.4
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "kubernetes-devtools"]
	path = kubernetes-devtools
	url = git@github.com:aaronmiller/kubernetes-devtools.git
[submodule "nordtheme-tmux"]
	path = nordtheme-tmux
	url = git@github.com:aaronmiller/nordtheme-tmux.git
	branch = develop
[submodule "treemacs-nerd-icons"]
	path = treemacs-nerd-icons
	url = git@github.com:aaronmiller/treemacs-nerd-icons.git
[submodule "Hack"]
	path = Hack
	url = git@github.com:aaronmiller/Hack.git
	branch = dev
[submodule "alt-hack"]
	path = alt-hack
	url = git@github.com:aaronmiller/alt-hack.git
	branch = dev
[submodule "qmk_firmware"]
	path = qmk_firmware
	url = git@github.com:aaronmiller/qmk_firmware.git
